body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  padding: 10px;
  color: white;
}

.navbar-links {
  display: flex;
  gap: 15px;
}

.logout-btn {
  background-color: #f77f71;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}